{% extends 'base.html' %}

{% block title %} Pedidos - Poolservice {% endblock %}

{% block content %}
    <h1>Hola desde pedidos</h1>
    <div>
        {% if orders %}
        {% for order in orders %}
            <div>
                {{order.number}}{{order.client}} el dia {{order.order_date}} compró {{order.product}}
            </div>
        {% endfor %}
        {% endif %}
        {% if message_orders %}
            <h2>{{message_orders}}</h2>
        {% endif %}
    </div>

    <a href="/orders/create-order">Nuevo Pedido</a>
    
{% endblock %}


    