
body {
    background-color: #5cf;


}
[type="button"], [button='button']:hover {
    cursor: pointer;
    cursor: hand;
}
[button='button'] {
    background-color: #fff;
}
.border {
    padding: 2px;
    border: 5px solid transparent ;
    border-radius: 5px;
    
}

input {
    outline-color: #4be;
}
li.inline {
    box-sizing: content-box;
    display: inline;

}

.container {
    height: 60px;
    background-color: #4be;
}


.container__flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.container__flex-container-a  {
    margin: 0 6px;
}

.container__flex-container-ul {
    margin: 0 5px;
}
.container__flex-container-form {
    margin: 0 3px;
}
.container__flex-container-div {
    margin-left: auto;
    margin-right: 6px;
}

.footer-container {
    display: grid;
    width: 100vw;
    height: 20vh;
    background-color: #17a;
}
