
body {
    background-color: #fff;


}
[type="button"], [button='button']:hover {
    cursor: pointer;
    cursor: hand;
}
[button='button'] {
    background-color: #fff;
}

.border {
    padding: 2px;
    border: 5px solid transparent ;
    border-radius: 5px;
    
}
.content{
    margin-bottom: 15px;
    width: 100%;
    padding: 0px 20px;
}
input {
    outline-color: #49e ;
}
li.inline {
    box-sizing: content-box;
    display: inline;
}

.container {
    width: 100%;
    height: 60px;
    background-color: #39e;
}

img.about {
    margin-bottom: 20px;
    float: right;
}

.container__flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.container__flex-container-a  {
    margin: 0 6px;
}

.container__flex-container-ul {
    margin: 0 5px;
}
.container__flex-container-form {
    margin: 0 3px;
}
.container__flex-container-div {
    margin-left: auto;
    margin-right: 6px;
}
.grid-container{
    display: grid;
    grid-template-columns: 45% 55%;
}


.footer-container__footer {
    display: grid;
    grid-template-columns: 20% 30% 25% 25%;
    padding: 4px;
    width: 100%;
    height: 40vh;
    background-color: #15a;
}
.copyright{
    width: 100%;
    height: 70px;
    background-color: #039;
    padding: 4px;
}

textarea {
    outline-color: #49e ;
}