{% extends 'base.html' %}

{% block title %} Nuevo Cliente - Poolservice {% endblock %}

{% block content %}
    <h1>Complete su perfil de cliente</h1>
    
    {% if form %}
        
        <form action="" method="POST">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>

            <input type="submit" value="Aceptar">

        </form>
    
    {% endif %}
    {% if form_errors %}
        <h2>Errores</h2>
        {{form_errors}}
    {% endif %}
    {% if message %}
        <h2>{{message}}</h2>
    {% endif %}

{% endblock %}