{% extends 'base.html' %}

{% block title %} Productos - Poolservice {% endblock %}

{% block content %}
    <h1>Hola desde productos</h1>
    <div>
        {% if products %}
        {% for product in products %}
            <div>
                <div class="grid-container">
                    <div>Código : {{product.code}}</div>
                    <div>Descripción : {{product.description}}</div>
                    <div>Precio : {{product.price}}</div>
                    {% if request.user.is_superuser %}
                    <div><a href="/products/update-product/{{product.id}} ">Actualizar</a></div>
                    {% endif %}                 
                </div>
            </div>
        {% endfor %}
        {% endif %}
        {% if message_products %}
            <h2>{{message_products}}</h2>
        {% endif %}
    </div>
    <a href="/products/create-product">Nuevo Producto</a>
    
{% endblock %}