{% extends 'base.html' %}

{% block title %} Regístrate - Poolservice {% endblock %}

{% block content %}
    <h1>Crea tu ususario</h1>
    {% if error %}
        {{error}}
    {% endif %}
    {% if form %}
        
        <form action="" method="POST">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>

            <input type="submit" value="Aceptar">

        </form>
    
    {% endif %}
    
    <!-- {% if message %}
        <h2>{{message}}</h2>
    {% endif %} -->

{% endblock %}