{% extends 'base.html' %}
{% load static %}

{% block title %} Sobre nosotros - Poolservice {% endblock %}

{% block content %}
    <h1>Acerca de nosotros</h1>
    <div class="grid-container">
        <p>Somos Poolservice, una empresa dedicada a la venta de equipamietnos e insumos para piscinas. 
            20 años brindando la mejor atención y asesoramiento a nuestros clientes. Contamos con el apoyo 
            de algunas de las empresas más importantes del pais en el rubro. Amplia variedad de accesorios, 
            revestimientos, productos químicos... TODO... TODO... PARA SU PILETA</p>
        <img class='about'  src="{% static 'images/full.jpg' %}" >
    </div>
{% endblock %}