{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="flex-container">
                <a href=""></a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Branches</a></li>
                    <li><a href="/products/list-products">Products</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">About</a></li>
                </ul>
                <form></form>
                <div>
                    <button type="button" class=""></button>
                    <button type="button" class=""></button>
                </div>
            </div>
        </div>

    </header>

    {% block content %} {% endblock %}

    <div>
        <footer>
            <div>
                <a href=""></a>
                <span></span>
            </div>
            <ul>
                <li><a href=""></a></li>    
                <li><a href=""></a></li>    
                <li><a href=""></a></li>
            </ul>
            
        </footer>
    </div>
</body>
</html>