{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shorcut icon" type="image/x-icon" href="{% static 'ico/logo.ico' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="container__flex-container">
                <a href="/" class="container__flex-container-a logo"><img width="50px" height="50px" src="{% static 'ico/logo.ico' %}"></a>
                <ul class="container__flex-container-ul">
                    <li class="inline"><a href="/">Home</a></li>
                    <!-- <li class="inline"><a href="">Branches</a></li> -->
                    {% if request.user.is_superuser %}
                    <li class="inline"><a href="/clients/list-clients">Clients</a></li>
                    <li class="inline"><a href="/orders/list-orders">Orders</a></li>
                    {% endif %}
                    <li class="inline"><a href="/products/list-products">Products</a></li>
                    <li class="inline"><a href="/about">About us</a></li>
                    <li class="inline"><a href="/contact/contact">Contact us</a></li>
                </ul>
                {% if products or message_products %}
                <form class="container__flex-container-form border">
                    <input class="border" type="search" placeholder="Código o nombre del producto" name="search">
                    <button class="border" type="submit" button="button"><img width="14px" height="14px" src="{% static 'ico/search.ico' %}"></button>
                </form>
                {% elif clients or message_clients %}
                <form class="container__flex-container-form border">
                    <input class="border" type="search" placeholder="Nombre del cliente" name="search">
                    <button class="border" type="submit" button="button"><img width="14px" height="14px" src="{% static 'ico/search.ico' %}"></button>
                </form>
                {% elif orders or message_orders %}
                <form class="container__flex-container-form border">
                    <input class="border" type="search" placeholder="Número de pedido" name="search">
                    <button class="border" type="submit" button="button"><img width="14px" height="14px" src="{% static 'ico/search.ico' %}"></button>
                </form>
                {% else %}
                
                {% endif %}
                <div class="container__flex-container-div">
                    {% if request.user.is_authenticated %}
                    {{request.user}}
                    <a href="/users/logout"><button class="border" type="button">Logout</button></a>
                    {% else %}
                    <a href="/users/login"><button class="border" type="button">Login</button></a>
                    <a href="/users/signup"><button class="border" type="button">Sign-Up</button></a>
                    {% endif %}
                </div>
            </div>
        </div>

    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div class="footer-container">
        <footer class="footer-container__footer">
            <div class="footer-container__footer-brand">
                <a class='inline'href="/"><img width="100px" height="100px" src="{% static 'ico/logo.ico' %}"></a>
                <span class='inline'>Poolservice</span>
            </div>
            <ul>
                <li class="inline"><a href="https://www.facebook.com/poolservice1" target="_blank"><img width="45px" height="45px" src="{% static 'ico/facebook.png' %}"></a></li>    
                <li class="inline"><a href="https://instagram.com/poolservice_cba?igshid=YmMyMTA2M2Y=" target="_blank"><img width="45px" height="45px" src="{% static 'ico/instagram.png' %}"></a></li>    
                <li class="inline"><a href="https://wa.me/+5493516165581" target="_blank"><img width="45px" height="45px" src="{% static 'ico/whatsapp.png' %}"></a></li>
            </ul>
           
            
        </footer>
    </div>
    <div class="copyright">
        COPYRIGHT , POOLSERVICE 
    </div>
</body>
</html>