{% extends 'base.html' %}
{% load static %}
{% block title %} Preguntas frecuentes - Poolservice {% endblock %}

{% block content %}
    <div style="display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 45px 45px 45px 45px 45px 45px;">
        <!-- <div> -->
            <div>¿Hacen envios a domicilio?</div>
            <div>No hacemos envios a domicilio, unicamente retiros en el local</div>
            <div>¿Arreglan bombas?</div>
            <div>Arreglamos bombas de la marca Vulcano unicamente</div>
            <div>¿Hacen mantenimiento de piletas?</div>
            <div>No hacemos mantenimiento de piletas, podemos asesorarte en el cuidado y brindarte los mejores productos para mantenimiento</div>
            <div>¿Construyen piletas?</div>
            <div>No construimos piletas, podemos asesortare en la construcción y brindarte el equipamiento que te haga falta</div>
            <div>¿Venden pintura para piletas?</div>
            <div>Si, vendemos pinturas para piletas de fibra o material, de las marcas Fadepa y San Agustin</div>
            <div>¿Venden inflables?</div>
        <!-- </div> -->
        <!-- <div> -->
            <div>Por el momento no estamos vendiendo ningun tipo de inflable</div>
        <!-- </div> -->
    </div>
{% endblock %}