{% extends 'base.html' %}

{% block title %} Poolservice {% endblock %}

{% block content %}
    <h1>Poolservice</h1>
    <h2>Todo, todo para su pileta</h2>
    <p> -</p>
    <p> -</p>
    <p> -</p>
    <p>💧En Poolservice encontrás todo lo que te hace falta para tu pileta!🏊‍♂️</p>
        .
    <p>    ✅ Para la construcción 👷‍♂️</p>
        .
    <p>    ✅ Para el mantenimiento 👩‍🔬</p>
        .
    <p>    ✅ Para renovar tu pileta con lo mas nuevo 🆕️</p>
        .
    <p>    ✅ Para disfrutarla todo el año 🏊‍♂️</p>
        .
    <p>    Y siempre al mejor precio💸 garantizado🤑</p>
        .
    <p>    Envíos a todo el país! 🚚📦</p>
{% endblock %}